body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: deeppink;
}

.cuerpo{
  text-align: left;
  color: #000;
  border: 1px solid #000;
  padding: 10px;
}

.cabecera{
  border: 1px solid #000;
  color: #fff;
  background-color: #000;
}
